.card-spin-1 {
    animation: rotateleft 1.5s;
}

.card-spin-2 {
    animation: rotateright 1.5s;
}

.text-gradient-change {
    animation-delay: 1.5s;
    animation: gradientChange 10s infinite;
    background-size: 200%;
}

@keyframes gradientChange {
	from { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	to { background-position: 0px 50%; }
}

@keyframes rotateright {
    from {
        transform: rotate(0deg);
        margin-left: 0;
        top: -2rem;
    }

    50% {
        transform: rotate(0deg);
        margin-left: 0;
        top: 5rem;
    }

    to {
        transform: rotate(12deg);
        margin-left: 5rem;
        top: 5rem;
    }
}

@keyframes rotateleft {
    from {
        transform: rotate(0deg);
        margin-right: 0;
        top: -2rem;
    }

    50% {
        transform: rotate(0deg);
        margin-right: 0;
        top: 5rem;
    }

    to {
        transform: rotate(-12deg);
        margin-right: 5rem;
        top: 5rem;
    }
}

.to-be-fullred {
    animation: gored 5s ease-in-out infinite;
}

.to-be-fullred2 {
    animation: gored 5s ease-in-out infinite;
    animation-delay: 2.5s;
}

.to-be-lgreen {
    animation: gogreen 5s ease-in-out infinite;
    animation-delay: 2.5s;
}

.to-be-lgreen2 {
    animation: gogreen 5s ease-in-out infinite;
}

@keyframes gogreen {
    from {
        background-color: #DCFCE7;
    }
    50% {
        background-color: #4ADE80;
    }
    to {
        background-color: #DCFCE7;
    }
}

@keyframes gored {
    from {
        background-color: #FEE2E2;
    }
    50% {
        background-color: #EF4444;
    }

    to {
        background-color: #FEE2E2;
    }
}

.shadow-cyan:hover {
    box-shadow: 0 10px 15px -3px #22D3EE, 0 4px 6px -2px #22D3EE
}

.pulsing {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    from {
        top: -4rem;
        opacity: 0%;
    }

    25% {
        top: -2rem;
        opacity: 100%;
    }

    75% {
        top: -2rem;
        opacity: 100%;
    }

    to {
        top: -4rem;
        opacity: 0%;
    }
}